// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #343a40;

// Override Bootstrap color system

$orange: #bd5d38;
$cmu_carnegie_red: #CC002B;
//$cmu_skibo_red: #8D0016;

// Override Bootstrap default state colors

$primary: $cmu_carnegie_red;
